<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}, Prita!
  </h1>

  <p>Google Material Design works. Make sure to import in app.component.ts.</p>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>

  <p>Flex-layout works too!</p>
  <div fxLayout="row" style="background-color: lavender; height: 400px; width: 100%;">
    <div fxFlex="10%" style="background-color: lightpink;">blah blah blah blah</div>
    <div fxFlex style="background-color: lightblue;">blah blah blah blah</div>
    <div fxFlex style="background-color: lightyellow">blah blah blah blah</div>
  </div>
  
</div>
